.banner {
  background-color: var(--complementar);
  color: var(--primaria);
  justify-content: space-around;
  align-items: center;
}

.banner div {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.banner h1 {
  font-size: 2em;
}

.banner p {
  line-height: 1.5em;
  letter-spacing: 0.1em;
}

.banner button {
  padding: 0.6em;
  font-weight: bold;
  font-size: 1em;
  color: #fff;
  background-image: var(--background);
  border: 1px solid transparent;
  border-radius: 5px;
  transition: var(--transicao);
  box-shadow: var(--sombra);
}

.banner button:hover {
  border-color: var(--primaria);
  margin-left: 1em;
}

.banner img {
  width: 28em;
  border: 2px solid var(--primaria);
  border-radius: 5px;
  box-shadow: var(--sombra);
}
