.diferencial {
  background-color: var(--complementar);
  color: var(--primaria);
  flex-direction: column;
  align-items: center;
}

.diferenciais {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.diferenciais div {
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  box-shadow: var(--sombra);
  transition: var(--transicao);
}

.diferenciais div:hover {
  border-color: var(--primaria);
  transform: rotate(3deg);
}

@media (max-width: 900px) {
  .diferencial {
    align-items: center;
    justify-content: center;
  }

  .diferenciais {
    gap: 2em;
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .diferencial h2 {
    text-align: center;
  }
}
