.diferencial {
  background-color: var(--complementar);
  color: var(--primaria);
  flex-direction: column;
  align-items: center;
}

.diferenciais {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.diferenciais div {
  display: flex;
  gap: 1em;
}

@media (max-width: 900px) {
  .diferenciais {
    gap: 2em;
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .diferencial h2 {
    text-align: center;
  }
}
