.header img {
  width: 6em;
  border-radius: 5px;
  transition: var(--transicao);
  border: 1px solid var(--complementar);
  box-shadow: var(--sombra);
}

.header img:hover {
  transform: scale(2);
}

.header nav ul {
  display: flex;
  gap: 1em;
  list-style: none;
}

.header nav ul li {
  border-bottom: 1px solid transparent;
  padding: 0.5em;
  transition: var(--transicao);
}

.header nav ul li span {
  margin-left: 0.3em;
}

.header nav a {
  text-decoration: none;
  color: #fff;
}

.header nav li:hover {
  border-color: #fff;
}

@media (max-width: 800px) {
  .header img {
    width: 4em;
  }
}

@media (max-width: 600px) {
  .header img {
    width: 3em;
  }

  .header nav ul {
    flex-direction: column;
    align-items: center;
  }
}
